@layout()
  <div class="hero">
    <h1>LinkedIn Bot</h1>
    <p>A super fast & simple LinkedIn bot for automated post </p>

    @if(!auth.user)
      @!link({ route: 'session.create', text: 'Login' })
    @end
  </div>

@end
